# .gitignore for EFM8 Simplicity Studio.
*.obj
*__i
*.lst
*.mk
*.lnp
*.m51
*.omf
*.bak
*.o
*.d
*.s37
*.hex
*.bin
*.ld
*.map
*.mk

/.metadata
/.vscode
/outgoing

**/.pdm
**/.settings
**/GNU ARM v7.2.1 - Default/*
!*.axf